@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background-image: url("../assets/fundo.settings.png");
    width: 100%;
}


.container_caixa {
    width: 508px;
    height: 713px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo h3 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: rgba(11, 5, 5, 1);
    font-weight: 500;

}

.caixa-formulario {
    display: flex;
    justify-content: space-around;

}


.campo {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 6px;

}

.campo label {
    width: 350px;
    color: rgb(58, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
    margin-top: 30px;
}

.campo input {
    margin-top: 10px;
    padding: 0 20px;
    width: 371.71px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #e1e1e1;
    outline: none;
    color: black;

}

.caixa_botao {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.botao button {
    display: flex;
    width: 135.42px;
    height: 41.44px;
    padding: 10px 25px;
    color: #FFFFFF;
    background-color: #64173C;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 15px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}


.botao button:hover {
    opacity: 0.8;
}


.caixa-formulario-enderecos {
    width: 635px;
    height: 392px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.titulo-endereco h3 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: rgba(11, 5, 5, 1);
    font-weight: 500;
}

.enderecos-um-dois {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 17px;
}

.enderecos-um {
    width: 276px;
    height: 272px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enderecos-dois {
    width: 276px;
    height: 272px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: rgba(11, 5, 5, 1);
    font-weight: 300;
}

.lixo {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


.contador p {
    display: flex;
    justify-content: flex-end;
    margin-top: 14px;
    color: rgba(11, 5, 5, 1);
    font-weight: 300;
    font-family: 'Lato', sans-serif;

}

.campo_resultado {
    display: flex;
    margin-right: 45px;
    margin-left: 30px;
    margin-bottom: 100px;
    margin-top: 20px;
    color: rgba(11, 5, 5, 1);
    font-weight: 300;
}



