@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

main {
    margin: 0;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    margin-top: 25px;
    margin-left: 25px;
    font-size: 3rem;
    color: #110000;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), linear-gradient(180deg, #DFDADA 0%, rgba(91, 84, 84, 0) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    background-color: #110000;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 17px;
    text-align: center;
    margin-left: 10px;
}

.texto {
    flex-direction: row;
    display: flex;
    align-items: center;

}

.header span {
    margin: 0 16px;
}

.header .user {
    width: 10vh;
    justify-content: start;
    display: flex;
    align-items: center;
    max-height: 60px;
    max-width: 60px;
}

.logo {
    max-height: 60px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    margin-bottom: 142vh;
    height: 80%;
    width: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    height: 100px;
    text-decoration: none;
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 92%;
    display: flex;
}



div .container {
    justify-content: space-between;
}

main {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -16vh;


}

main h1 {
    padding: 50px 0 0 73px;
    color: #110000;
}

.menu {
    background-image: linear-gradient(#784C61, #372116, #420422);
    width: 6%;
    height: 211vh;
}



.Alinhamento-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 9vh;

}

.caixa1 {
    width: 251px;
    height: 251px;

    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.caixa2 {
    width: 251px;
    height: 251px;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #420422;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}





.numerob {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 32px;
    color: #420422;
    text-transform: uppercase;
    display: flex;
    margin-top: 5vh;
   justify-content: center;
}

.numerov {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 32px;
    color: white;
    text-transform: uppercase;
    display: flex;
    margin-top: 5vh;
   justify-content: center;

}

.campo_branco {
    height: 84px;

    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;

}

.campo_vinho {
    height: 84px;
    
    font-family: 'Chivo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;


}



.alinhar-texto1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.container-retangulo {
    width: 1160px;
    height: 81px;
    margin-top: 5vh;
    margin-left: 9vh;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.caixa-retangulo h2 {
    font-family: 'Chivo';
    font-style: normal;
    font-size: 3vh;
    line-height: 11vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
}



.seta {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: -8vh;
    margin-right: 4vh;

}

.container-retangulo1 {
    width: 1160px;
    height: 81px;
    margin-top: 7vh;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Alinhamento-2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 13vh;
    gap: 46px;


}


.caixag {
    width: 565px;
    height: 251px;

    background: #420422;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.campo_vinhog {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.numerog {
    display: flex;
    justify-content: center;
    margin: 8vh;
    font-family: 'Lato';
    font-weight: 1000;
    font-size: 29px;
}

.metricas {
    display: flex;
    justify-content: center;

}

.caixa-metricas-centralizar {
    display: flex;
    justify-content: center;

}

.texto-metrica, .numero-alerta{
    font-family: 'Lato';
    display: flex;
    font-weight: 1000;
    justify-content: center;
    margin-top: 5vh;
    
}

.numero-alerta {
    display: flex;
    justify-content: center;
}


.alinhamento-metricas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6vh;
    
}

.perigo {
    width: 205px;
    height: 198px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(21, 19, 32, 0.57) 0%, #295B89 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.alerta {
    width: 205px;
    height: 198px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #387E7A 0%, #427972 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ideal {
    width: 205px;
    height: 198px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #3FD127 0%, #58AC57 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.alerta-quente {
    width: 205px;
    height: 198px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #F9E533 0%, #D2BD4B 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.perigo-quente {
    width: 205px;
    height: 198px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #DA0909 0%, #E36239 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}









footer {
    background-color: #110000;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}