@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), linear-gradient(180deg, #DFDADA 0%, rgba(91, 84, 84, 0) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header {
    background-color: #110000;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 17px;
    text-align: center;
    margin-left: 10px;
}

.texto {
    flex-direction: row;
    display: flex;
    align-items: center;

}

.header span {
    margin: 0 16px;
}

.header .user {
    width: 10vh;
    justify-content: start;
    display: flex;
    align-items: center;
    max-height: 60px;
    max-width: 60px;
}

.logo {
    max-height: 60px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    margin-bottom: 24vh;
    height: 80%;
    width: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

li {
    height: 100px;
    text-decoration: none;
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 92%;
    display: flex;
    align-items: center;
}



div .container {
    justify-content: space-between;
}

main {
    margin: 0;
    height: 198vh;
    display: flex;
    flex-direction: column;
    margin-left: 9vh;

}

main h1 {
    padding: 50px 0 0 73px;
    color: #110000;
}

.menu {
    background-image: linear-gradient(#784C61, #372116, #420422);
    width: 80px;
    height: 198vh;
}



.dashboard-container {
    display: flex;
    justify-content: space-evenly;

}

.dashboard {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 13px;
    width: 153vh;
}




.container-retangulo {
    width: 153vh;
    height: 81px;
    margin-top: 11vh;
    background: #F1F1F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.caixa-retangulo h2 {
    font-family: 'Chivo';
    font-style: normal;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    margin-top: 27px;
}


.Alinhamento1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 46px;
}

.caixa-alinhamento1 {
    display: flex;
    gap: 46px;
}

.caixa-alinhamento {
    display: flex;
    gap: 10vh;
    flex-direction: column;
    margin-top: 29vh;
    margin-top: 8vh;

}

.Alinhamento {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 13vh;
    gap: 46px;
    margin-top: 48vh;

}



.dashboard {
    display: flex;
    align-items: center;
}

footer {
    background-color: #110000;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}