
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.background {
    background-image: url("./Background\ desfoque3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    height: 1000px;
    
}
.header {
    padding: 10px 0;
    width: 100%;
    
}

.header .container img{
    width: 200px;
}


.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textos a{
    color:white;
    text-decoration: none;
    font-size: larger;
}

ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
    list-style: none;
}
.textos li {
    display: flex;
    margin: 2px 15px;
    color: #FFFFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
  }
  
  .textos li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color:#9F1D35 ;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;
  }
  .textos li:hover::after {
    width: 100%;
  }

li {
    color: white;
}




.banner {
   padding: 200px 0;
}

.banner .containerB {
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    
}

.banner p {
    padding-left: 50px;
    width: 800px;
    color: #FFFFFF;
    font-size: 40px;
    
}

.banner b {
    color: #e3b062;
    text-shadow: -3px 1px 10px black;
    font-weight: 700;
}


.social {
    height: 1000px;
    background-image: url("./Imagem\ 4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px black;
}