@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&family=Montserrat:wght@400;600&family=Sarala:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 58);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
}




.background {
    background-image: url("./assets/wooden-background.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header {
    background-color: #64173C;
    padding: 10px 10px;
}

.header img {
    transition: all 0.8s;
}

.header img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.container {
    margin: 0 auto;
    width: 92%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    width: 170px;
    height: 70px;
}

.textos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    list-style: none;
}

.textos li {
    display: flex;
    margin: 2px 15px;
    color: #FFFFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
}

.textos li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;

}

.textos li:hover::after {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-size: larger;
}

/* --BANNER--*/

.banner {

    display: flex;
    height: 53.36vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.slogan p {
    padding-left: 40px;
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 300;
}

.slogan b {
    color: #e3b062;
    font-size: 55px;
    font-weight: 700;
    text-shadow: -3px 1px 10px black;
}

/* --CAMPO VALORES--*/

.values {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    background-color: #F2F2F2;
}

.caixaformulario {
    display: flex;
    justify-content: space-around;
    padding: 40px 40px;
}

.campo {
    width: 17.45vw;
    height: 42.68vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 13px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.campo img {
    width: 145px;
    height: 145px;
}

.campo h4 {
    padding-top: 13px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #64173C;
}

.campo p {
    justify-content: center;
    padding: 12px 8px;
    font-size: 16px;
    text-align: center;
    color: #000000;

}

.retangulo {
    width: 82%;
    height: 35.11vh;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 12px 50px;
}

.imagem {
    flex-direction: column;
    color: #000000;
}

.retangulo img {
    width: 217px;
    height: 217px;
}

.retangulo .imagem {
    text-align: center;
}

.retangulo h4 {
    width: 205px;
    height: 41px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #64173C;
}

.retangulo p {
    color: #000000;
    padding-left: 30px;
    text-align: center;
}


.social {
    background-image: url("./assets/Imagem\ 4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #64173C;
}

.social .container {
    width: 90%;
    padding: 30px 30px;
}

.social .container img {
    height: 30%;
    width: 30%;
}

.social img {
    transition: all 0.8s;
}

.social img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
}

.texto h2 {
    text-align: center;
    width: max-content;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 500;
}

/* --FOOTER--*/

.footer {
    width: 100%;
    height: 25.61vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("./assets/Imagem\ 4.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: rgb(206, 206, 206);
    padding-top: 17px;
    font-size: 12px;
}


.footer .container {
    padding: 15px 10px;
    justify-content: space-evenly;
    margin: auto;

}

.footer .container #loguinho {
    margin-right: 100px;
}

/*--LINKS--*/

.links {
    display: flex;
    flex-direction: row;
}

.links h4 {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 5px;
    cursor: default;
}

.links li {
    margin-top: 6px;
    margin-right: 400px;
}

.links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.links ul {
    width: max-content;
    list-style: none;
}

.media img {
    margin-top:7px ;
    height: 30px;
    width: 30px;
    margin-left: 12px;
    cursor: pointer;
}

.media h4 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: default;
}

.copyright {
    margin: auto;
    text-align: center;
}